.container{
  &.subscribe{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: $color-white;
    @include flex-col-center-center;
    .row{
      .col-12{
        @include flex-col-center-center;
        .subscribe_content{
          @include flex-col-center-center;
          .subscribe_content-text{
            @include flex-col-center-center;
            small{
              color: $color-grey;
            }

          }
          .send_email{
            margin-top: 50px;
            input{
              height: 40px;
              width: 500px;
            }
            button{
              background-color: $color-primary;
              color: $color-white;
              border: 1px solid transparent;
              height: 40px;
              small{
                margin: 0 25px;
              }
            }
          }
          p{
            margin-top: 30px;
            font-size: 10px;
            color: $color-grey;
          }
        }
      }
    }
  }
  &.cornice_immagini{
    max-width: 100%;
    height: 220px;
    .row{
      .col-12{
        padding: 0px;
        @include flex-row-wrap;
        img{
          height: 220px;
          width: calc(100% / 4);
        }
      }
    }
  }
  &.utilities{
    height: auto;
    background-color: $color-white;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 100%;
    .row{
      height: 100%;
      .col-12{
        height: 100%;
        @include flex-r-c-start;
        padding: $padding-10-col;
        .logo-social{
          height: 230px;
          width: calc(100% / 4);
          border-right: 1px dashed $color-grey;
          img{
            height: 80px;
            margin-bottom: 30px;
          }
          .socials{
            color: $color-grey;
            a{
              color: $color-grey;
              margin-right: 10px;
            }
          }
        }
        .footer_menu{
          height: 220px;
          width: calc(100% / 4);
          border-right: 1px dashed $color-grey;
          padding-left: 30px;
          ul{
            list-style: none;
            li{
              margin-bottom: 20px;
            }
          }
        }
        .contact{
          height: 220px;
          width: calc(100% / 4);
          border-right: 1px dashed $color-grey;
          h3{
            color:$color-primary;
            font-size: 16px;
            margin-bottom: 25px;
            padding-left: 20px;
          }
          .posizione{
            color: $color-grey;
            @include flex-row-spbetw;
            padding-left: 20px;
            padding-right: 80px;
            margin-bottom: 10px;
            span{
              padding-left: 10px;
            }
          }
          .email{
            color: $color-grey;
            padding-left: 20px;
            margin-bottom: 10px;
            span{
              padding-left: 30px;
            }
          }
          .numero{
            color: $color-grey;
            margin-bottom: 10px;
            padding-left: 20px;
            span{
              padding-left: 30px;
            }
          }
        }
        .getapp{
          height: 220px;
          width: calc(100% / 4);
          border-right: 1px dashed $color-grey;
          padding-left: 20px;
          h3{
            font-size: 16px;
            margin-bottom: 25px;
            color: $color-primary;
          }
          img{
            height: 50px;
            width: auto;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  &.copyrights{
    height: 70px;
    .row{
      height: 100%;
      .col-12{
        position: relative;
        height: 100%;
        @include flex-r-c-c;
        small{
          color: $color-grey;
        }
        .fas.fa-chevron-up{
          position: absolute;
          left: 20px;
          padding: 10px;
          border-radius: 50%;
          color: $color-white;
          background-color: $color-black;
        }
      }
    }
  }
}
