.container{
  &.text-popular{
    margin-top: 400px;
    margin-bottom: 60px;
    .row{
      .col-lg-12{
        @include flex-col-center-center;
        margin-bottom: 20px;
        h4{
          color: $color-black;
          margin-bottom: 20px;
        }
        p{
          margin-bottom: 0;
          color: $color-grey-scuro;
        }
      }
    }
  }
  &.popular{
    padding: $padding-10-col;
    @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
      padding: 0;
    }
    @media screen and (min-width: $breackpoint-sm) and (max-width: $breackpoint-md){
      padding: 0;
    }
    .row{
      .col-lg-6{
        .card{
          margin-right: 0;
          height: 100%;
          @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
            margin-bottom: 50px;
          }
          @media screen and (min-width: $breackpoint-sm) and (max-width: $breackpoint-md){
            margin-bottom: 50px;
          }
          .card-body{
            padding: 0 20px;
            h5{
              margin-top: 20px;
            }
            p.card-text{
              color: $color-black;
              margin-bottom: 20px;
            }
            hr{
              color: $color-lightgrey;
              height: 2px;
            }
            button{
              background-color: $color-primary;
              color: $color-white;
              border: 1px solid transparent;
              p{
                font-size: 12px;
                margin: 6px 10px;
              }
            }
          }
        }
        .collage{
          @include flex-row-wrap;
          @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
            margin-top: 50px;
          }
          @media screen and (min-width: $breackpoint-sm) and (max-width: $breackpoint-md){
            margin-top: 50px;
          }
          .popular-plate{
            height: 160px;
            width: 240px;
            margin-bottom: 10px;
            margin-right: 10px;
            @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
              height: 210px;
              width: calc(100% / 2 - 40px);
              margin-bottom: 30px;
              margin: 20px;
            }
          @media screen and (min-width: $breackpoint-sm) and (max-width: $breackpoint-md){
              height: 210px;
              width: calc(100% / 2 - 40px);
              margin-bottom: 30px;
              margin: 20px;
            }
            img{
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }&.text-culinary_collection{
    margin-top: 100px;
    margin-bottom: 60px;
    .row{
      .col-lg-12{
        @include flex-col-center-center;
        margin-bottom: 20px;
        h4{
          color: $color-black;
          margin-bottom: 20px;
        }
        p{
          margin-bottom: 0;
          color: $color-grey-scuro;
        }
      }
    }
  }
  &.culinary_collection-cards{
    padding: $padding-10-col;
    @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
      padding: 0px;
    }
    @media screen and (min-width: $breackpoint-sm) and (max-width: $breackpoint-md){
      padding: 0px;
    }
    .row{
      .col-lg-12{
        @include flex-row-wrap;
      }
      .card{
        height:150px;
        width: 240px;
        margin-right: 15px;
        margin-bottom: 15px;
        @include flex-col-center-center;
        @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
          height: 170px;
          width: calc(100% / 2 - 30px);
          margin: 15px;
        }
        @media screen and (min-width: $breackpoint-sm) and (max-width: $breackpoint-md){
          height: 170px;
          width: calc(100% / 2 - 30px);
          margin: 15px;
        }
        img{
          height: 100px;
          width: 100px;
        }
        button{
          color: $color-black;
          background-color: transparent;
          border: 0px;
          width: 96%;
          height: 100%;
          margin: 5px;
          &:hover{
            background-color: $color-primary;
            color: $color-white;
          }
        }
      }
    }
  }
  &.farm{
    margin-top: 80px;
    padding: $padding-10-col;
    @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
      padding: 0px;
    }
    @media screen and (min-width: $breackpoint-sm) and (max-width: $breackpoint-md){
      padding: 0px;
    }
    .row{
      .col-lg-12{
        @include flex-row-spbetw;
        .text{
          h4{
            color: $color-black;
            margin-bottom: 20px;
          }
          p{
            margin-bottom: 0;
            color: $color-grey-scuro;
          }
        }
        button{
          background-color: $color-primary;
          color: $color-white;
          border: 1px solid transparent;
          height: 40px;
          margin-right: 15px;
          p{
            font-size: 12px;
            margin: 6px 10px;
          }
        }
      }
    }
  }
}
@import '_table-section.scss';
