$padding-10-col:  0 10%;
$fontsize-10: 10px;
$color-orange: #20ad96;
$color-grey-scuro: #6a6b6c;
$color-grey: #afafaf;
$color-lightgrey: #f0eeeb;
$color-black: #333338;
$color-white: white;
$color-springwood: #f6f7f1;
$color-boston_blue: #3b8ca8;
