<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="./dist/css/master.css">
    <title>Awada Food</title>
  </head>
  <body>
    <div id="root">
      <!-- HEADER -->
        <div class="container social_icons">
          <div class="row">
            <div class="col-12">
              <div class="advertsite">
                <a href="#"><span>Download App <button type="button" name="button">IOS</button></span></a>
                <a href="#"><span>Advertsite with us</span></a>
              </div>
              <div class="icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="container logo">
          <div class="row">
            <div class="col-12">
              <img src="./images/avada-food-logo-2x.png" alt="">
            </div>
          </div>
        </div>
        <div class="container menu-bar">
          <div class="row">
            <div class="col-12">
              <ul>
                <li><a href="#"></a>Home</li>
                <li><a href="#"></a>Recipes</li>
                <li><a href="#"></a>Places</li>
                <li><a href="#"></a>Blog</li>
                <li><a href="#"></a>About</li>
                <li><a href="#"></a>Contact</li>
                <li><a href="#"></a><i class="fas fa-search"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container jumbo">
          <div class="row">
            <div class="col-12">
              <div class="jumbo-img" style="background-image: url('./images/single-post-img3.jpg')">
                <div class="jumbo-content">
                  <div class="todays-pick">
                    <h1>{{journal[0].titolo}}</h1>
                    <p class="data"></p>
                    <div class="pick">
                      <p>TODAY'S PICK</p>
                    </div>
                  </div>
                  <div class="foodie_journal">
                    <div class="foodie_journal-title">
                      <hr>
                      <h3>FOODIE JOURNAL</h3>
                      <hr>
                    </div>
                    <div class="cards">
                      <div  v-for="(elemento, i) in journal" class="card" style="width: 18rem;">
                        <img :src="elemento.immagine" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">{{elemento.titolo}}</h5>
                            <p class="card-text">By admin | {{data()}}</p>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- EN HEADER -->
      <main>
        <div class="container text-popular">
          <div class="row">
            <div class="col-12">
              <h4>POPULAR RECIPES</h4>
              <p>Aliquam erat volutpat. Ut quis ligula a magna blandit finibus. Suspendisse</p>
              <p>maximus lacus non nunc lacinia lobortis.</p>
            </div>
          </div>
        </div>
        <div class="container popular">
          <div class="row">
            <div class="col-6">
              <div class="card">
                <img src="./images/Yogurt-Nan-600x395.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lunch Favourite with Salad, Naan and Beans</h5>
                    <small>Burkey, Featured, Healthy, Lastest Recipes, Staff Picks</small>
                    <hr>
                    <p class="card-text">Suspendisse at semper odio. Nam fringilla scelerisque tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt posuere ornare. Phasellus placerat odio non feugiat sollicitudin. Integer vitae elementum ex. Sed porttitor, diam eget convallis volutpat, arcu tellus facilisis nulla, id dignissim orci leo id </p>
                    <button type="button" name="button"><p>LEARN MORE</p></button>
                  </div>
              </div>
             </div>
            <div class="col-6">
              <div class="collage">
                <div class="popular-plate">
                  <img src="./images/Mixed-fruits-400x263.jpg" alt="">
                </div>
                <div class="popular-plate">
                  <img src="./images/r-rachel-park-366508-unsplash-min-400x263.jpg" alt="">
                </div>
                <div class="popular-plate">
                  <img src="./images/r-michelle-tsang-500721-unsplash-min-460x295.jpg" alt="">
                </div>
                <div class="popular-plate">
                  <img src="./images/quick-summer-drink-460x295.jpg" alt="">
                </div>
                <div class="popular-plate">
                  <img src="./images/r-maarten-van-den-heuvel-400626-unsplash-min-460x295.jpg" alt="">
                </div>
                <div class="popular-plate">
                  <img src="./images/perfect-cosmopolitan-460x295.jpg" alt="">
                </div>
                <div class="popular-plate">
                  <img src="./images/fi2x-6-460x295.jpg" alt="">
                </div>
                <div class="popular-plate">
                  <img src="./images/r-brooke-lark-96398-unsplash-min-460x295.jpg" alt="">
                </div>
              </div>
              </div>
          </div>
        </div>
        <div class="container text-culinary_collection">
          <div class="row">
            <div class="col-12">
              <h4>CULINARY COLLECTION</h4>
              <p>Aliquam erat volutpat. Ut quis ligula a magna blandit finibus. Suspendisse</p>
              <p>maximus lacus non nunc lacinia lobortis.</p>
            </div>
          </div>
        </div>
        <div class="container culinary_collection-cards">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <img src="./images/drinks-recipes.png" alt="">
                <button type="button" name="button">DRINKS</button>
              </div>
              <div class="card">
                <img src="./images/soups-recipes.png" alt="">
                <button type="button" name="button">SOUPS</button>
              </div>
              <div class="card">
                <img src="./images/baking-recipes.png" alt="">
                <button type="button" name="button">BAKERY</button>
              </div>
              <div class="card">
                <img src="./images/dinner-recipes.png" alt="">
                <button type="button" name="button">DINNER</button>
              </div>
              <div class="card">
                <img src="./images/healthy-recipes.png" alt="">
                <button type="button" name="button">HEALTY</button>
              </div>
              <div class="card">
                <img src="./images/staff-picks.png" alt="">
                <button type="button" name="button">STAFF PICKS</button>
              </div>
              <div class="card">
                <img src="./images/premium-recipes.png" alt="">
                <button type="button" name="button">APPETISERS</button>
              </div>
              <div class="card">
                <img src="./images/quick-easy-recipes.png" alt="">
                <button type="button" name="button">QUIK & EASY</button>
              </div>
            </div>
          </div>
        </div>
        <div class="container farm">
          <div class="row">
            <div class="col-12">
              <div class="text">
                <h4>FARM TO TABLE</h4>
                <p>Aliquam erat volutpat. Ut quis ligula a magna blandit finibus. Suspendisse</p>
                <p>maximus lacus non nunc lacinia lobortis.</p>
              </div>
              <button type="button" name="button"><p>READ OUR BLOG <i class="fas fa-book-reader"></i></p></button>
            </div>
          </div>
        </div>
        <div class="container table">
          <div class="row">
            <div class="col-8">
              <div class="card">
                <img src="./images/single-post-img3-600x395.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Food Corner: Top Japanese Restaurants for Sushi</h5>
                    <small>data</small>
                    <hr>
                    <p class="card-text">Suspendisse at semper odio. Nam fringilla scelerisque tincidunt. Orci varius natoque
                      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt posuere ornare.
                      Phasellus placerat odio non feugiat sollicitudin. Integer vitae elementum ex.
                    </p>
                    <div class="more">
                      <a href="#">Read more ></a>
                      <button type="button" class="comments" name="button"><i class="far fa-comments"></i><span>0</span></button>
                    </div>
                  </div>
              </div>
              <div class="cards">
                <div v-for="(tableimage, i) in tableimages" class="card" style="width: 20rem;">
                  <img :src="tableimage.immagine" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text align-center">{{tableimage.titolo}}</p>
                    <small class="align-center">data</small>
                  </div>
                </div>
                <button type="button" name="button">LOAD MORE POSTS</button>
              </div>
            </div>
            <div class="col-4">
              <div class="lastest_recpes">
                <img src="./images/ad-bg.jpg" alt="">
                <div class="text-last">
                  <p>VIEW OUR</p>
                  <p>LASTEST</p>
                  <p>RECIPES</p>
                </div>
              </div>
              <div class="singapore">
                <img src="./images/singapore-featured-image-400x263.jpg" alt="">
                <button type="button" name="button"><i class="fas fa-globe-africa"></i><small>VIEW ALL CITY GUIDES</small> </button>
                <span>City Guide: Singapore</span>
              </div>
              <hr>
              <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search..." aria-label="Username" aria-describedby="addon-wrapping">
              </div>
              <div class="social">
                <div class="text-social">
                    <h4>Follow Us</h4>
                </div>
                <div class="icon">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-primary active" aria-current="page">Popular</a>
                  <a href="#" class="btn btn-primary">Recent</a>
                </div>
                <div class="popular_recent">
                  <div class="section">
                    <img src="./images/single-post-img3-66x66.jpg" alt="">
                    <div class="text-section">
                      <p>Food Corner: Top Japanese Restaurants for Sushi</p>
                      <small>March 25th, 2019</small>
                    </div>
                  </div>
                  <div class="section">
                    <img src="./images/singapore-featured-image-66x66.jpg" alt="">
                    <div class="text-section">
                      <p>City Guide: Singapore</p>
                      <small>February 27th, 2019</small>
                    </div>
                  </div>
                  <div class="section">
                    <img src="./images/slide1-bg-66x66.jpg" alt="">
                    <div class="text-section">
                      <p>6 Nutritional Tips to Help Burn Body Fat</p>
                      <small>February 28th, 2019</small>
                    </div>
                  </div>
                </div>

                <div class="tweet">
                  <div class="tweet-title">
                    <div class="tweet-title_text">
                      <h2>Tweets </h2>
                      <span>by </span>
                      <small>@Theme_Fusion</small>
                    </div>
                    <i class="fas fa-info-circle"></i>
                  </div>
                  <div class="tweet-content">
                    <div class="tweet-autore">
                      <div class="logo">
                        <img src="./images/3a74ce3d0532b7773b174c45ca3bd05a_normal.png" alt="">
                        <div class="name">
                          <strong>ThemeFusion</strong>
                          <small>@Theme_Fusion</small>
                        </div>
                        <div class="twitter-logo">
                          <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="tweet-write">
                      <small>Dou you need a sublime WordPress hosting for
                      your nextwebsite? Take advantageof exclusive partner offers that
                     we have secured just for you, & launch your site in seconds with
                      <span>#avada</span> on WP Engine hosting & get 30% off this Black Friday <br><span>bit.ly/3kjLLE2 #BlackFriday2020</span></small>
                      <img src="./images/En2TRxLW4AEiWUN.jpeg" alt="">
                    </div>
                    <div class="like">
                      <div class="tap">
                        <i class="far fa-heart"></i>
                        <i class="fas fa-sign-out-alt"></i>
                      </div>
                      <span>21h</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="container subscribe" style="background-image: url('./images/subscribe-sec-bg.png')">
          <div class="row">
            <div class="col-12">
              <div class="subscribe_content">
                <div class="subscribe_content-text">
                  <h1>Subscribe & Receive A Free eBook</h1>
                  <small>Aliquam erat volutpat. Ut quis ligula a magna blandit finibus. Suspendisse maximus lacus non nunc lacinia lobortis.</small>
                </div>
                <div class="send_email">
                  <input type="text" name="email" value="" placeholder="Insert your email...*">
                  <button type="button" name="button"><small>SUBSCRIBE </small></button>
                </div>
                <p>Cras porttitor pellentesque sem eu pretium.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container cornice_immagini">
          <div class="row">
            <div class="col-12">
              <img src="./images/single-post-img3-600x395.jpg" alt="">
              <img src="./images/fi-roundup-600x395.jpg" alt="">
              <img src="./images/fi-korean-food-600x395.jpg" alt="">
              <img src="./images/r-michelle-tsang-500721-unsplash-min-460x295.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="container utilities">
          <div class="row">
            <div class="col-12">
              <div class="logo-social">
                <img src="./images/avada-food-logo-mob-2x-200x87.png" alt="">
                <div class="socials">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
              <div class="footer_menu">
                <ul>
                  <li>Recipes</li>
                  <li>Places</li>
                  <li>Blog</li>
                  <li>About</li>
                  <li>Contact</li>
                </ul>
              </div>
              <div class="contact">
                <h3>CONTACT</h3>
                <div class="posizione">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>775 New York Ave,<br> Brooklyn, Kings,<br> New York 11203</span>
                </div>
                <div class="numero">
                  <i class="fas fa-phone"></i>
                  <span>+ 0100-505-0000</span>
                </div>
                <div class="email">
                  <i class="fas fa-envelope"></i>
                  <span>info@your-domain.com</span>
                </div>
              </div>
              <div class="getapp">
                <h3>GET OUR APP!</h3>
                <img src="./images/download-android-200x66.png" alt="">
                <img src="./images/download-app-store-200x66.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="container copyrights">
          <div class="row">
            <div class="col-12">
              <div class="testo">
                <small>© Copyright 2012 - 2021 | Avada Theme by ThemeFusion | All Rights Reserved | Powered by WordPress</small>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./dist/main.js" charset="utf-8"></script>
  </body>
</html>
